@page "/"

<h1 class="page-title"> Welcome to Faycal's Pie Shop HRM !</h1>

<br />

<h3> 
    Welcome to your new app <span class="random-text"> </span>
</h3>

@foreach(var widget in Widgets)
{
    <DynamicComponent Type="widget"></DynamicComponent>
}